#music-list
  %table.table.table-striped.table-bordered.table-hover
    %head
      %tr
        %th #
        %th Name
        %th
        %th
    %tbody
    - @songs.each do |song|
      %tr
        %td= song.id
        %td= song.name
        %td= link_to "Download", download_api_v1_stream_path(song.id), class: "btn btn-primary", remote: true
        %td= link_to "Play!", play_api_v1_stream_path(song.id), class: "btn btn-inverse"

%center
  = button_to "Upload new song", upload_api_v1_stream_index_path, :method => 'get', class: 'btn btn-info'
