= form_for @song, url: save_api_v1_stream_index_path, html: {multipart: true} do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.file_field :song
  = f.hidden_field :song_cache
  %br
  = f.submit
