%legend Sign in

= form_for(resource, as: resource_name, html: {class: "form-horizontal"}, url: session_path(resource_name)) do |f|
  .control-group
    = f.label :email, class: 'control-label', for: 'user_emal'
    .controls
      = f.email_field :email

  .control-group
    = f.label :password, class: 'control-label', for: 'user_password'
    .controls
      = f.password_field :password

  - if devise_mapping.rememberable?
    .control-group
      .controls
        %label.checkbox
          = f.check_box :remember_me
          Remember me

        %div= f.submit "Sign in", class: 'btn'

= render "devise/shared/links"
